<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info">
    <targets>
      <target xsi:type="File" name="allfile" fileName="Logs/${level}_${shortdate}.txt" layout="${time}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}|${all-event-properties}" />
    </targets>
    <rules>
      <logger name="System.*" minlevel="Error" writeTo="allfile" />
      <logger name="Microsoft.AspNetCore.*" minlevel="Error" writeTo="allfile" />
      <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Error" writeTo="allfile" />
      <logger name="*" minlevel="Warning" writeTo="allfile" />
    </rules>
  </nlog>
</configuration>